doctype html
html(lang='pt_br')
  head
    title= 'Studio Paper'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/all.min.css')
    link(rel='stylesheet', href='/css/boxicons.min.css')
    link(rel='stylesheet', href='/aos.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(data-spy='scroll', data-target='.fixed-top')
    block navigation
    block hero
    block servicos
    block contato
    block footer
    script(src='/aos.js')
    script(src='/dist/jquery.js')
    script(src="/javascripts/form.js")
    script(src='/umd/popper.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/main.js')

    
